@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: "Arial Narrow", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    @apply text-white bg-gray-800;
}

.stand-image {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    object-fit: contain;
    color: transparent;
}